.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	transition: 300ms;
	@media (max-width: 900px) {
		position: fixed;

		&.active {
			background-color: $black;
		}
	}
	// .header_inner
	&_inner {
		margin-top: 46px;

		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 30px;

		@media (max-width: 1000px) {
			margin-top: 20px;
		}
		@media (max-width: 900px) {
			margin: 10px 0;
		}
	}
	// .header_logo
	&_logo {
		max-width: 173px;
		margin-top: 11px;
		img {
			width: 100%;
		}
		@media (max-width: 900px) {
			margin-top: 0;
			max-width: 100px;
		}
	}
	// .header_content
	&_content {
		display: flex;
		flex-direction: column-reverse;
		align-items: end;
		transition: 300ms;

		@media (max-width: 900px) {
			position: fixed;
			top: -110%;
			left: 0;
			width: 100%;
			height: 100%;
			min-height: 0;
			padding: 70px 15px 30px;

			display: block;
			overflow: scroll;
			background: #07060a;

			&.active {
				top: 0;
			}
		}
	}
	// .header_top
	&_top {
		display: flex;
		align-items: center;
		grid-gap: 70px;
		margin-bottom: 35px;

		@media (max-width: 1000px) {
			grid-gap: 30px;
			margin-bottom: 20px;
		}
		@media (max-width: 900px) {
			justify-content: center;
			flex-wrap: wrap;
		}
	}
	// .header_tel
	&_tel {
		position: relative;
		font-size: 22px;
		font-weight: 600;
		color: white;
		transition: 300ms;

		&::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: $blue;
			transition: 300ms;
		}

		@media (any-hover: hover) {
			&:hover,
			&:focus {
				color: $blue;
				&::after {
					width: 100%;
				}
			}
		}
	}
	// .header_social
	&_social {
		display: flex;
		align-items: center;
		grid-gap: 26px;
		margin-left: 20px;

		a {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 30px;
			height: 30px;
			border-radius: 50%;

			background: $bg;

			transition: 300ms;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}

			@media (max-width: 900px) {
				width: 45px;
				height: 45px;
				img {
					height: 20px;
				}
			}
		}

		@media (max-width: 1000px) {
			margin-left: 0;
		}
	}
	// .header_button
	&_button {
	}
	// .header_menu
	&_menu {
		display: flex;
		grid-gap: 71px;
		a {
			position: relative;

			font-size: 15px;
			font-weight: 700;
			line-height: 26 / 18 * 100%;
			color: white;
			transition: 300ms;

			&::after {
				content: "";
				position: absolute;
				bottom: -2px;
				left: 0;
				width: 0;
				height: 2px;
				background: $blue;
				transition: 300ms;
			}
			@media (any-hover: hover) {
				&:hover,
				&:focus {
					color: $blue;
					&::after {
						width: 100%;
					}
				}
			}
		}

		@media (max-width: 1200px) {
			grid-gap: 40px;
		}
		@media (max-width: 1000px) {
			grid-gap: 30px;
		}
		@media (max-width: 900px) {
			flex-direction: column;
			grid-gap: 20px;
			align-items: center;
			margin-bottom: 50px;

			li {
				text-align: center;
			}
			a {
				font-size: 28px;
			}
		}
	}
}

.menu_burger {
	height: 28px;
	width: 40px;
	flex: 0 0 40px;
	position: relative;
	cursor: pointer;
	transition: 300ms;
	display: none;
	@media screen and (max-width: 900px) {
		display: block;
	}
	&.active {
		span:nth-child(1) {
			opacity: 0;
		}
		span:nth-child(2) {
			transform: rotate(37deg);
		}
		span:nth-child(3) {
			transform: rotate(-37deg);
		}
	}
	span {
		transition: 300ms;
		transform-origin: left;
	}
	span:nth-child(1) {
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background: white;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
	}
	span:nth-child(2) {
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background: white;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
	span:nth-child(3) {
		height: 4px;
		width: 100%;
		border-radius: 2px;
		background: white;
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
	}
}
